.benefits{
    display: flex;

    @include phones{
        flex-direction: column;
    }

    &__item{
        flex: 1;
        padding: 0 3%;
        position: relative;
        padding: 0 28px;


        @include phones{
            padding: 0;
            margin-bottom: rem(54px);
        }

        &:before{
            content: url("../img/decor/separator.png");
            position: absolute;
            top: rem(50px);
            right: 0;
            transform: translateX(50%);

            @include tablets{
                display: none;
            }
        }

        &:first-child{
            padding-left: 0;
        }

        &:last-child{
            padding-right: 0;

            &:before{
                display: none;
            }
        }
    }

    &-section{
        position: relative;
        background: url("../img/decor/side-leaf.png") left top 57% no-repeat;

        @include tablets{
            background-position: left top 12%;   
        }

        @include phones{
            background: none;
        }

        &:before{
            content: url("../img/decor/bars-and-berries.png");
            position: absolute;
            bottom: rem(-124px);
            left: 0;
            z-index: 1;


            @include phones{
                display: none;
            }
        }
    }
}

