.modal-form{
    display: none;

    &.error-modal {
        .modal-form__content {
            color: red;
        }
    }

    &.fancybox-content {
        padding: 0 !important;
    }

    &.fancybox-button {
        display: none;
    }

    &__container{
        background: #fff;
        padding: rem(35px) rem(60px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content{
        margin-bottom: rem(25px);
        color: #000;
    }

}