.player{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;    

    &__wrapper{
        height: 100%;
    }

    &__elem{
        width: 100%;
    }

    &__splash{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../img/player/cover.png) center center/cover no-repeat;
        cursor: pointer;

        &:before{
            content: "";
            height: 118px;
            width: 82px;
            position: absolute;
            top: 50%;
            left: 50%;
            background: url(../img/player/Play_white.png) center center no-repeat;
            display: block;
            transform: translate(-50%, -50%);
        }
    }

    &__controls{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 35px;
        background-color: #3e3e3e;
        margin-top: -3px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
    }

    &-section__container{
        position: relative;    
        margin: 0 auto;
        width: 662px;

        @include tablets {
            width: 100%;
            padding: 0 35px;
        }
    }

    &__start{
        cursor: pointer;
        padding-right: 25px;
    }

    &__duration{
        padding-bottom: 5px;
    }

    &__playback{
        height: 16px;
        width: 446px;
        position: relative;

        &:before{
            content: "";
            height: 4px;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            background: #626262;
            display: block;
            transform: translateY(-50%);
            cursor: pointer;
        }

        &-button{
            background: #626262;
            border-radius: 50%;
            border: none;
            width: 12px;
            height: 12px;
            padding: 0;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 0;
        }
    }

    &-section{
        position: relative;
        &:before{
            content: url("../img/decor/corner-leaf.png");
            position: absolute;
            bottom: 5%;
            left: 8%;
    
            @include tablets{
                bottom: 25%;
                left: -4%;
            }
        }
    
        &:after{
            content: url("../img/decor/corner-leaf-player.png");
            position: absolute;
            top: 20%;
            right: 10%;
        
    
            @include tablets{
                right: 0;
            }
        }
    }
}

.player.active .player__splash:before, .player.active .player__splash {
    background: none;
}

.sound {
    display: flex;
    align-items: center;
    padding-left: 30px;

    &__mic{
        cursor: pointer;
    }

    &__volume{
        margin-left: 30px;   
        margin-top: -5px; 
    }
}


.pause{
    display: none;
}