.slider{
    position: relative;
    overflow: hidden;

    &__list{
        width: 100%;
        display: flex;
        align-items: center;
        transition: transform 0.3s;
    }

    &__item{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        padding: 0 rem(30px);

        @include tablets{
            flex-direction: column;
        }
    }

    &__left{
        width: 68%;

        @include tablets{
            width: 100%;
        }
    }

    &__right{
        width: 50%;

        @include tablets{
            width: 75%;
        }

    }

    &__pic{
        max-width: 100%;
    }

    &__btn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: rem(34px);
        z-index: 20;
        @include tablets{
            top: 25%;
        }

        @include phones{
            top: 20%;
        }

        &--next{
            right: -3%;
            @include tablets{
                right: 14%;
            }
        }

        &--prev{
            left: -3%;
            transform: rotate(180deg) translateY(67%);
            @include tablets{
                left: 14%;
            }
        }
    }

    &__arrow{
        width: rem(34px);
        height: rem(34px);
        fill: black;
    }

    &__title{
        padding: 0;
        margin-bottom: rem(14px);
        font-size: 36px;
        text-align: left;
        line-height: 1.2;

        @include tablets{
            font-size: 30px;
            text-align: center;
        }
    }

    &__desc{
        margin-bottom: rem(36px);
        line-height: 1.2;
        @include tablets{
            text-align: center;
        }
    }

    &__feature{
        margin-right: rem(50px);

        &-desc{
            font-weight: bold;
        }
    }

    &__row{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: rem(6px);

        @include tablets{
            justify-content: center;
        }
    }

    &__price{
        color: #000000;
        font-size: 64px;
        font-weight: lighter;
        margin-right: rem(30px);

        @include phones{
            font-size: 47px;
        }
    }
}

.chocolates{
    background-color: #F8FAF9;

    &__container{
        align-items: center;
        justify-content: center;
        flex-direction: row;
        position: relative;
        max-width: 1040px;
    }
}

.order-section{
    background: url("./img/decor/blueberry.png") left rem(18px) bottom rem(20px) no-repeat,url("../img/decor/corner-leaf-two.png") right bottom rem(20px) no-repeat, url("../img/decor/background-form.png") center center;
    position: relative;

    @include tablets{
        background: url("./img/decor/background-form.png") center center;

    }

    &:before{
        content: "";
        background: url("./img/decor/leafs-and-blackberry.png");
        top: rem(-154px);
        width: rem(196px);
        height: rem(264px);
        right: rem(-22px);
        
        position: absolute;
        background-size: cover;
        
        @include tablets{
            width: rem(110px);
            height: rem(147px);
            top: rem(-76px);
        }
    }
    
}

.ingredients{
    position: relative;
    background: #86C3D7;
    width: rem(91px);
    height: rem(91px);
    border-radius: rem(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(28px);

    @include tablets{
        display: none;
    }

    &__icon{
        width: rem(46px);
        height: rem(46px);
        fill: #ffffff;
        margin-bottom: rem(10px);
    }

    &__title{
        text-transform: uppercase;
        color: #ffffff;
        font-size: 14px;
    }
}


.bx-wrapper{
    box-shadow: none;
    border: none;
    background: none;
    -webkit-box-shadow: none;
}

.bx-wrapper .bx-next {
    background: url("./img/icons/controls.png") no-repeat;
}

.bx-wrapper .bx-prev {
    background: url("./img/icons/controls.png") no-repeat;
    transform: rotate(180deg);
}

.bx-wrapper .bx-controls-direction a {
    margin-top: 0px;
}

.bx-wrapper .bx-pager {
    display: none;
}

.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
    background-position: 0;
}

.bx-viewport {
    height: 100%;
}