.btn{
    font-weight: bold;
    padding: rem(20px) rem(38px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    border: none;

    @include tablets {
        font-size: 15px;
    }

    @include phones {
        font-size: 13px;
    }

    

    &--color--white{
        background: #ffffff;
        color: $darkGreen;

        &:hover{
            color: #ffffff;
            background: $darkGreen;
        }
    }

    &--color--green{
        background: $darkGreen;
        color: #ffffff;

        &:hover{
            color:$darkGreen;
            background: #ffffff;
        }
    }

    &--color--transparent{
        background: transparent;
        columns: #000000;
        text-transform: none;

        &:hover{
            color:$darkGreen;
        }
    }

}