.player__duration {
    display: flex;
    align-items: center;
}

.duration__img {
    padding: rem(5px) 0;
    cursor: pointer;
}

.duration__length {
    width: rem(444px);
    height: rem(4px);
    border-radius: 1px;
    background-color: #626262;
    -webkit-appearance: none;
    appearance: none;   
    outline: none;
}

.duration__length--other{
    width: rem(58px);
    height: rem(4px);
}

.duration__length::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #626262;    
    cursor: pointer;
    width: rem(13px);
    height: rem(13px);
    border-radius: 50%;   
    left: 10%; 
}

.duration__circle {
    cursor: pointer;
    margin-top: rem(-4px);
    display: block;
}

.duration__circle--high {
    right: 0;
    position: absolute;
}