.hamburger {
    opacity: 0;

    @include tablets{
        display: block;
        background: transparent;
        border: transparent;
        outline: none;
        width: rem(24px);
        position: relative;
        cursor: pointer;
        opacity: 1;

        &:hover {
            transform: scale(1.1);
            transition: 1ms;
        }

        &__wrapper{
            padding-top: rem(10px);
        }
    }

    &-span {
        content: "";
        height: rem(4px);
        width: rem(24px);
        display: block;
        color: #fff;
        background: #fff;

        &:before {
            content: "";
            height: 4px;
            width: 24px;
            display: block;
            color: #fff;
            background: #fff;
            bottom: rem(10px);
            left: rem(6px);
            position: absolute;
        }

        &:after {
            content: "";
            height: 4px;
            width: 24px;
            display: block;
            color: #fff;
            background: #fff;
            position: absolute;
            top: rem(10px);
            left: rem(6px);
        }
    }
}