.hero{
    background: url("../img/decor/big-leaf.png") right bottom no-repeat;
    background-color: $blue;
    height: 100vh;
    min-height: rem(650px);
    color: #ffffff;
    position: relative;

    @include tablets{
        background-position: right bottom 78%;
    }

    &:before, &:after{
        @include tablets{
            display: none;
        }
    }

    &:before{
        content: url("../img/decor/corner-leaf.png");
        position: absolute;
        bottom: rem(-60px);
        left: 2%;
    }
    &:after{
        content: url("../img/decor/berries-and-leaves.png");
        position: absolute;
        bottom: rem(-55px);
        right: rem(17px);
    }

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: rem(24px) 0 rem(45px) 0;
        background: url("../img/decor/chocolates.png") right center no-repeat;

        @include tablets{
            background: none;
        }
    }

    &__title-section{
        width: 46%;

        @include tablets{
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            &:before{
                content: "";
                width: rem(316px);
                height: rem(330px);
                background: url("../img/decor/chocolates-berries-and-leaves.png") center center / contain no-repeat;
                margin-bottom: rem(10px);
            }
        }
    }

    &__main-title{
        font-size: rem(48px);
        line-height: 1.2;
        font-weight: bold;
        margin-bottom: rem(7px);
        text-transform: uppercase;

        @include phones{
            line-height: 0.9;
        }
    }

    &__title-desc{
        font-size: rem(21px);
        margin-bottom: rem(45px);
        padding-right: 14%;
        line-height: 1.2;

        @include tablets {
            padding: 0 25%;
        }

        @include phones {
            padding: 0 16%;            
        }

        
    }

    &__icons-section {
        @include tablets {
            display: none;
        }
    }
}