.menu{
    margin: 0 30px;

    @include tablets {
        display: none;
    }

    &__item {
        margin-right: 26px;
        margin-bottom: 10px;
        padding-top: 5px;
        &:last-child{
            margin-right: 0;
        }
    }

    &__link{
        text-decoration: none;
        white-space: nowrap;
    }

    &__list{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
}