.radio{
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: rem(24px);

    @include phones{
        margin-bottom: rem(10px);
    }

    &--checkbox{
        .radio__visible{
            border-radius: rem(5px);

            // &:before{
            //     content: "";
            //     background: url("./img/icons/sprite.svg#checkmark") center center no-repeat;
            //     width: 10px;
            //     height: 10px;
            //     display: block;
            // }
        }
    }
    
    &__elem{
        display: none;

        &:checked ~ .radio__visible{

            &::before{
                display: block;
            }
        }
    }

    &__visible{
        width: rem(26px);
        height: rem(26px);
        position: relative;
        border-radius: 50%;
        background: #ffffff;
        margin-right: rem(5px);

        &:before{
            content: "";
            width: rem(14px);
            height: rem(14px);
            background: #365a49;
            border-radius: 50%;
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}



.checkbox{
    
    &__input{
        opacity: 0;
        position: absolute;
        margin-right: rem(4px);
    }

    &__content{
        display: flex;
        align-items: center;
    }

    &__btn{
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #ffffff;
        margin-right: 2%;
        border-radius: rem(5px);
    }
}

.checkbox__input:checked+.checkbox__content .checkbox__btn .checkbox__img{
    opacity: 1;
}

.checkbox__btn .checkbox__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: .6875rem;
    height: .5625rem;
    opacity: 0;
    fill: #497870;
}