.team{
    display: flex;
    justify-content: space-between;

    &__container{
        height: 100%;
    }

    &-section{
        position: relative;
        &:before{
            content: url(../img/decor/blueberries.png);
            position: absolute;
            top: rem(-38px);
            right: rem(14px);
            z-index: 10;
        }
        &:after{
            content: url(../img/decor/side-leaf-three.png) ;
            position: absolute;
            top: rem(-180px);
            right: 0;
        }
    }


    @include tablets{
        font-size: 18px;
    }

    &__item{
        flex: 1;
        text-align: center;
        margin-right: rem(20px);
        max-width: rem(260px);
        position: relative;
        padding-left: 16px;

        @include tablets{
            margin-bottom: rem(14px);
            margin-right: 0;
        }
    }

    &__member{
        max-height: rem(288px);
        margin-bottom: rem(20px);
    }

    &__title{
        font-weight: bold;
        color: #292929;
        display: inline-flex;
        align-items: center;
        font-size: 21px;
    }

    &__content{
        overflow: hidden;
        transition: height .3s;
        height: 0;

        &--block{
            padding-bottom: rem(5px);
        }
    }

    &__profession{
        color: #292929;
    }

    &-accordeon{
        &__icon{
            width: rem(9px);
            height: rem(9px);
            fill: #365A49;
        }
        
    }

    &--version__desktop .team__content{
        position: absolute;
        top: 100%;
    }

    &--version--desktop{
        @include tablets{
            display: none;
        }
    }
    &--version--mobile{
        display: none;
        @include tablets{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}


.team__item.active .team-accordeon__icon{
    transform: rotate(180deg);
}